################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/.vs
/packages
GrimSearch/GDItemSearchSettings.json
GrimSearch/DatabaseHashes.json
GrimSearch/ItemsCache.json
GrimSearch/TagsCache.json