################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GDItemSearch/bin/Debug
/GDItemSearch/obj/Debug
/GDItemSearchTest/bin/Debug
/GDItemSearchTest/obj/Debug
/GDItemSearchUtil/bin/Debug/netstandard1.4
/GDItemSearchUtil/obj
/.vs/GDItemSearch/v15
