<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logdirectory" value="${basedir}" />
z
    <targets>
        <target name="logfile" xsi:type="File" fileName="${var:logdirectory}/grimsearch_${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" archiveOldFileOnStartup="true" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>